<%- include('templates/header.ejs') %>
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ">
                <h1>Clothes</h1>
                <a href="/admin/clothes/add">Add Clothes</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th>Name</th>
                            <th>Material</th>
                            <th>Color</th>
                            <th>Price</th>
                            <th>Stock</th>
                            <th>Image</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach( (el,i)=> { %>
                            <tr>
                                <td>
                                    <%= i+1 %>
                                </td>
                                <td>
                                    <%= el.name %>
                                </td>
                                <td>
                                    <%= el.material %>
                                </td>
                                <td>
                                    <%= el.color %>
                                </td>
                                <td>
                                    <%= el.price %>
                                </td>
                                <td>
                                    <%= el.stock %>
                                </td>
                                <td><img src="<%= el.image %>" alt="#"></td>
                                <td><a href="/admin/clothes/edit/<%= el.id %> ">Edit</a> | <a
                                        href="/admin/clothes/delete/<%= el.id %>">Delete</a></td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%- include('templates/footer.ejs') %>