<%- include('templates/header.ejs') %>
<div class="dashboard-wrapper">
  <div class="dashboard-ecommerce">
      <div class="container-fluid dashboard-content ">
          <h1>Edit Clothes</h1>
          <form action="/admin/clothes/edit/<%= data.id %>" method="post">
            <label for="">Nama</label><br>
            <input type="text" name="name" value="<%= data.name %>"><br>
            <br>
            <label for="">Material</label><br>
            <input type="text" name="material" value="<%= data.material %>"><br>
            <br>
            <label for="">Color</label><br>
            <input type="text" name="color" value="<%= data.color %>"><br>
            <br>
            <label for="">Price</label><br>
            <input type="number" name="price" value="<%= data.price %>"><br>
            <br>
            <label for="">Stock</label><br>
            <input type="number" name="stock" value="<%= data.stock %>"><br>
            <br>
            <label for="">Image</label><br>
            <input type="text" name="image" value="<%= data.image %>"><br>
            <br>
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
  </div>

<%- include('templates/footer.ejs') %>