<%- include('templates/header.ejs') %>
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ">
                <h1>Transaction : "<%= data.name %> "</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th>Nama Barang</th>
                            <th>Harga</th>
                            <th>Stock</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.Clothes.forEach( (el,i)=> { %>
                            <% if(el.UserClothes.status==='Dalam Konfirmasi' ) { %>
                                <tr>
                                    <td>
                                        <%= i+1 %>
                                    </td>
                                    <td>
                                        <%= el.name %>
                                    </td>
                                    <td>
                                        <%= el.price %>
                                    </td>
                                    <td>
                                        <%= el.stock %>
                                    </td>
                                    <td>
                                        <%= el.UserClothes.status %>
                                    </td>
                                    <td>
                                        <a href="/admin/transaction/list/<%= el.id %>/accept/<%= data.id %> ">Accept</a>
                                        <a
                                            href="/admin/transaction/list/<%= el.id %>/decline/<%= data.id %> ">Decline</a>
                                    </td>
                                </tr>
                                <% } %>
                                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%- include('templates/footer.ejs') %>