<%- include('templates/header.ejs') %>
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ">
                <h1>User Purchase</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Clothes</th>
                            <th>Price</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach( el => { %>
                            <tr>
                                <td><%= el.name %></td>
                                <td><%= el.Clothes.name %></td>
                                <td><%= el.Clothes.price %></td>
                                <td><%= el.Clothes.UserClothes.status %></td>
                                
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%- include('templates/footer.ejs') %>